@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
body {
	background-image: url('mailsify.jpg');
	padding: 40px;
	background: black;
	color: white;
	background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
	background-size: cover;
	margin: 0;
}
