.btn {
	font-family: 'Alegreya', serif;
	text-transform: none;
	font-size: inherit;
	cursor: pointer;
	height: 50px;
	color: black;
	border-radius: 30px;
	display: inline-block;
	font-weight: 700;
	outline: none;
	position: relative;
	top: -5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
