.btn {
	font-family: 'Alegreya', serif;
	text-transform: none;
	font-size: inherit;
	cursor: pointer;
	height: 50px;
	color: black;
	border-radius: 30px;
	display: inline-block;
	font-weight: 700;
	outline: none;
	position: relative;
	top: -5px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn1 {
	cursor: pointer;
	background-color: #0345f4;
	font-size: 25px;
	width: 100px;
	height: 50px;
	color: black;
	border-color: black;
	border-radius: 10px;
	position: relative;
	top: 10px;
}
